<!DOCTYPE html>
<html>
<head>
  <title>Talk with the lights</title>
  <link rel="stylesheet" type="text/css" href="./styles/main.css">
</head>
<body>
  <header>
    <%- include header.ejs %>
  </header>

  <section>
    <%- include body.ejs %>
  </section>

  <aside>
    <%- include social.ejs %>
  </aside>

  <footer>
    <%- include footer.ejs %>
  </footer>

  <script src="./scripts/main.js"></script>
  <%- include ga.ejs %>

</body>
</html>